[submodule "CarConnectivity-plugin-mqtt"]
	path = CarConnectivity-plugin-mqtt
	url = https://github.com/tillsteinbach/CarConnectivity-plugin-mqtt
[submodule "CarConnectivity-plugin-mqtt_homeassistant"]
	path = CarConnectivity-plugin-mqtt_homeassistant
	url = https://github.com/tillsteinbach/CarConnectivity-plugin-mqtt_homeassistant
[submodule "CarConnectivity-connector-tronity"]
	path = CarConnectivity-connector-tronity
	url = https://github.com/tillsteinbach/CarConnectivity-connector-tronity
[submodule "CarConnectivity-connector-seatcupra"]
	path = CarConnectivity-connector-seatcupra
	url = https://github.com/tillsteinbach/CarConnectivity-connector-seatcupra
[submodule "CarConnectivity-connector-skoda"]
	path = CarConnectivity-connector-skoda
	url = https://github.com/tillsteinbach/CarConnectivity-connector-skoda
[submodule "CarConnectivity-connector-volkswagen"]
	path = CarConnectivity-connector-volkswagen
	url = https://github.com/tillsteinbach/CarConnectivity-connector-volkswagen
